* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }
  body ul {
    list-style: none; }
  body li {
    list-style: none; }
  body a:link {
    text-decoration: none; }
  body a:visited {
    text-decoration: none; }
  body a:active {
    text-decoration: none; }

header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }
  header .logo_inicio img {
    width: 300px;
    padding: 20px; }

footer {
  background-color: #4e4e4e;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.footer__element {
  border: 5px;
  gap: 1rem;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  align-items: center; }

div ul li a {
  color: white; }
  div ul li a:hover {
    color: #b4b4b4; }

.footer__logo {
  width: 10%; }

div ul .footer__icon {
  width: 30px;
  display: flex;
  margin: 10px; }

.footer__parrafo {
  font-size: 12px;
  margin-top: 20px;
  color: white; }

main {
  width: 100%;
  height: 80%; }
  main .imagecontainer {
    width: 100%;
    height: 100%; }
    main .imagecontainer .imagecontainer__box {
      width: 100%;
      overflow: hidden;
      align-content: center;
      position: relative; }
      main .imagecontainer .imagecontainer__box:hover .img1 {
        filter: blur(20px);
        transform: scale(1.1);
        opacity: 0; }
      main .imagecontainer .imagecontainer__box .img1 {
        position: absolute;
        z-index: 2;
        transition: .4s;
        transform-origin: 50%, 50%;
        width: 100%; }
      main .imagecontainer .imagecontainer__box:hover .img2 {
        filter: blur(0px);
        transform: scale(1);
        opacity: 1; }
      main .imagecontainer .imagecontainer__box .img2 {
        filter: blur(20px);
        transform: scale(1.1);
        opacity: 1;
        transition: .4s;
        width: 100%; }

header div a .logo_inicio {
  width: 300px;
  padding: 20px; }

main .contenedor-info {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 393px 251px 534px;
  justify-content: center;
  row-gap: 10px; }
  main .contenedor-info .contenedor-info__contacto {
    width: 320px;
    justify-items: center; }
    main .contenedor-info .contenedor-info__contacto .contacto-item {
      width: 320px;
      display: grid;
      grid-template-columns: 318px;
      grid-template-rows: 40px 40px 60px;
      padding-left: 0px !important; }
      main .contenedor-info .contenedor-info__contacto .contacto-item .contacto-item__grupo {
        display: grid;
        grid-template-columns: 30px 288px;
        align-content: center; }
        main .contenedor-info .contenedor-info__contacto .contacto-item .contacto-item__grupo .contacto-icon {
          width: 30px; }
  main .contenedor-info .card {
    width: 320px !important;
    height: 250px !important;
    margin-top: 10px;
    margin-bottom: 10px; }
    main .contenedor-info .card .boton-aqui {
      background-color: #e2e2e2;
      color: #747474;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold; }
      main .contenedor-info .card .boton-aqui:hover {
        background-color: #747474;
        color: white; }
  main .contenedor-info .contenedor-info__form {
    width: 320px; }
    main .contenedor-info .contenedor-info__form fieldset div .input-completar {
      width: 320px;
      height: 30px;
      background-color: #e2e2e2;
      color: #8a8a8a;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      font-size: 16px; }
    main .contenedor-info .contenedor-info__form fieldset div .textarea {
      background-color: #e2e2e2;
      color: #8a8a8a;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: 5px solid transparent;
      outline: none;
      font-size: 16px; }
    main .contenedor-info .contenedor-info__form fieldset div .boton-enviar {
      background-color: #e2e2e2;
      color: #747474;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold; }
      main .contenedor-info .contenedor-info__form fieldset div .boton-enviar:hover {
        background-color: #747474;
        color: white; }

main .timeline {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 500px;
  display: grid;
  grid-template-columns: 0.2fr 2px 1fr;
  font-family: 'Open Sans', sans-serif; }
  main .timeline .timeline__component {
    margin: 0 10px 10px 10px; }
    main .timeline .timeline__component .timeline__date--right {
      text-align: right;
      font-size: 20px;
      font-weight: bold;
      color: #aaaaaa; }
  main .timeline .timeline__middle {
    position: relative;
    background: #aaaaaa; }
    main .timeline .timeline__middle .timeline__point {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      background: #aaaaaa;
      border-radius: 50%; }
    main .timeline .timeline__middle .timeline__point--bottom {
      top: initial;
      bottom: 0; }
  main .timeline .timeline__component--bg {
    padding: 1.5em;
    background-color: #e2e2e2;
    box-shadow: 0 0 5px #aaaaaa;
    border-radius: 10px; }
    main .timeline .timeline__component--bg .ph {
      width: 100%;
      align-content: center; }
    main .timeline .timeline__component--bg .grow:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    main .timeline .timeline__component--bg .timeline__parrafo {
      margin-top: 5px;
      line-height: 1.5;
      font-size: 15px;
      color: #383838; }
    main .timeline .timeline__component--bg .carousel {
      margin: auto;
      width: 250px;
      height: 250px; }
      main .timeline .timeline__component--bg .carousel .slider {
        width: 250px;
        height: 200px; }
        main .timeline .timeline__component--bg .carousel .slider li {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: inherit;
          height: inherit;
          transition: opacity .5s; }
          main .timeline .timeline__component--bg .carousel .slider li:first-child {
            opacity: 1; }
          main .timeline .timeline__component--bg .carousel .slider li:target {
            opacity: 1; }
          main .timeline .timeline__component--bg .carousel .slider li .carousel-ph {
            width: 250px; }
      main .timeline .timeline__component--bg .carousel .slide-menu {
        text-align: center;
        margin: 5px;
        padding: 0; }
        main .timeline .timeline__component--bg .carousel .slide-menu li {
          display: inline-block;
          text-align: center; }
          main .timeline .timeline__component--bg .carousel .slide-menu li a {
            display: inline-block;
            background-color: #aaaaaa;
            width: 10px;
            height: 10px;
            border-radius: 100%; }
            main .timeline .timeline__component--bg .carousel .slide-menu li a:hover {
              background: #6e6e6e; }

main .card-container {
  display: grid;
  grid-template-columns: 320px 320px;
  grid-template-rows: 320px 320px 320px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 4rem;
  gap: 4rem;
  flex-wrap: wrap; }
  main .card-container .card {
    width: 20rem;
    height: 20rem;
    display: inline-block;
    align-content: center; }
  main .card-container .card-texto {
    font-size: 12px; }

main .buscador-filtro {
  display: grid;
  grid-template-columns: 540px 100px;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center; }
  main .buscador-filtro .container-fluid {
    width: 640px !important;
    height: 50px !important;
    padding: 0px !important; }
    main .buscador-filtro .container-fluid .barra-buscador {
      width: 540px;
      height: 50px;
      background-color: #ececec;
      color: #747474;
      border-radius: 5px;
      padding: 10px;
      border: none;
      outline: none;
      font-size: 16px; }
    main .buscador-filtro .container-fluid .boton-buscar {
      width: 80px;
      height: 50px;
      background-color: #e2e2e2;
      color: #747474;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold; }
      main .buscador-filtro .container-fluid .boton-buscar:hover {
        background-color: #747474;
        color: white; }

main .container-pagination {
  display: grid;
  grid-template-columns: 320px;
  justify-content: center;
  align-items: center; }
  main .container-pagination .pagination {
    width: 320px !important; }
    main .container-pagination .pagination .page-link {
      background-color: #e2e2e2;
      color: #747474;
      font-weight: bold; }
      main .container-pagination .pagination .page-link:hover {
        color: white;
        background-color: #747474; }

main .contenedor-servicios {
  height: 550;
  margin: 0px 50px 50px 50px;
  display: grid;
  grid-template-columns: 450px;
  grid-template-rows: 980px 400px;
  justify-content: center; }
  main .contenedor-servicios .producto {
    width: 480px;
    margin-bottom: 30px;
    align-items: center; }
    main .contenedor-servicios .producto .tarjetas-contenedor {
      display: inline-block; }
      main .contenedor-servicios .producto .tarjetas-contenedor .card {
        width: 430px !important;
        margin: 10px !important;
        font-size: 16px !important; }
        main .contenedor-servicios .producto .tarjetas-contenedor .card .card-link {
          font-weight: bold !important;
          font-size: 16px !important;
          color: #383838 !important; }
          main .contenedor-servicios .producto .tarjetas-contenedor .card .card-link:hover {
            background-color: #383838 !important;
            color: white !important; }
      main .contenedor-servicios .producto .tarjetas-contenedor .card-img-top {
        width: 200px !important;
        border-radius: 5px !important;
        margin: 5px !important; }

.empresas {
  display: grid;
  grid-template-columns: 450px;
  grid-template-rows: 70px 350px; }
  .empresas .empresas-logos {
    width: 450px;
    height: 350px;
    display: inline; }
    .empresas .empresas-logos .logos {
      width: 150px;
      margin: 10px; }
