main{
    width: 100%;
    height: 80%;
        .imagecontainer{
            width: 100%;
            height: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
                .imagecontainer__box{
                    width: 100%;
                    overflow: hidden;
                    align-content: center;
                    position: relative;
                    &:hover .img1{
                        filter: blur(20px);
                        transform: scale(1.1);
                        opacity: 0;
                        }
                    .img1{
                        position: absolute;
                        z-index: 2;
                        transition: .4s;
                        transform-origin: 50%, 50%;
                        width: 100%;
                    }
                    &:hover .img2{
                        filter: blur(0px);
                        transform: scale(1);
                        opacity: 1;
                    }
                    .img2{
                        filter: blur(20px);
                        transform: scale(1.1);
                        opacity: 1;
                        transition: .4s;
                        width: 100%;
                    }
                }
        }
    }