main{
    .timeline {
            margin: 0 auto;
            margin-bottom: 30px;
            max-width: 500px;
            display: grid;
            grid-template-columns: 0.2fr 2px 1fr;
            font-family: 'Open Sans', sans-serif;
            .timeline__component {
                margin: 0 10px 10px 10px;
                .timeline__date--right {
                    text-align: right;
                    font-size: 20px;
                    font-weight: bold;
                    color: rgb(170, 170, 170);;
                }
            }
            .timeline__middle {
                position: relative;
                background: rgb(170, 170, 170);
                .timeline__point {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 10px;
                    height: 10px;
                    background: rgb(170, 170, 170);
                    border-radius: 50%;
                }
                .timeline__point--bottom{
                    top: initial;
                    bottom: 0;
                }
            }
            .timeline__component--bg {
                padding: 1.5em;
                background-color: rgb(226, 226, 226);
                box-shadow: 0 0 5px rgb(170, 170, 170);
                border-radius: 10px;
               .ph {
                    width: 100%;
                    align-content: center;
                }
                .grow {
                    &:hover {
                        -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
                .timeline__parrafo {
                    margin-top: 5px;
                    line-height: 1.5;
                    font-size: 15px;
                    color: rgb(56, 56, 56);
                }
                .carousel{
                    margin: auto;
                    width: 250px;
                    height: 250px;
                    .slider{
                        width: 250px;
                        height: 200px;
                        li{
                            position: absolute;
                            left:0;
                            top:0;
                            opacity:0;
                            width: inherit;
                            height: inherit;
                            transition: opacity .5s;
                            &:first-child {
                                opacity: 1;
                            }
                            &:target {
                                opacity: 1;
                            }
                            .carousel-ph{
                                width: 250px;
                            }
                        }
                    }
                    .slide-menu {
                        text-align: center;
                        margin: 5px;
                        padding: 0;
                        li {
                            display: inline-block;
                            text-align: center;
                            a {
                                display: inline-block;
                                background-color: rgb(170, 170, 170);;
                                width: 10px;
                                height: 10px;
                                border-radius: 100%;
                                &:hover {
                                    background: rgb(110, 110, 110);
                                }
                            }
                        }
                    }
                }
            }
        }
}