main{
    .contenedor{
        width: 100%;
        height: 550;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        .contenedor__contacto{
            width: 350px;
            margin-bottom: 30px;
            align-items: center;
        }
        .contenedor__form{
            width: 300px;
            margin-top: 30px;
            fieldset{
                div{
                    .input-completar{
                        margin-left: 10px;
                        width: 250px;
                        height: 30px;
                        background-color: rgb(226, 226, 226);
                        color: rgb(138, 138, 138);
                        padding: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                    }
                    .textarea{
                        width: 300px;
                        height: 150px;
                        background-color: rgb(226, 226, 226);
                        color: rgb(138, 138, 138);
                        padding: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border-radius: 10px;
                        border: 5px solid transparent;
                        outline: none;
                        font-size: 16px;
                    }
                }
            }
        }
        
    }
}