main{
    .card-container{
        display:grid;
        grid-template-columns: 320px 320px;
        grid-template-rows: 320px 320px 320px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 4rem;
        gap: 4rem;
        flex-wrap: wrap;
        .card{
            width: 20rem;
            height: 20rem;
            display: inline-block;
            align-content: center;
        }
        .card-texto{
            font-size: 12px;
        }
    }
    .buscador-filtro{
        display: grid;
        grid-template-columns: 540px 100px;
        grid-template-rows: 50px;
        justify-content: center;
        align-items: center;
        .container-fluid{
            width: 640px !important;
            height: 50px !important;
            padding: 0px !important;
            .barra-buscador{
                width: 540px;
                height: 50px;
                background-color:rgb(236, 236, 236);
                color: rgb(116, 116, 116);
                border-radius: 5px;
                padding: 10px;
                border:none;
                outline: none;
                font-size: 16px;
            }
            .boton-buscar{
                width: 80px;
                height: 50px;
                background-color:rgb(226, 226, 226);
                color: rgb(116, 116, 116);
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: bold;
                    &:hover{
                        background-color: rgb(116, 116, 116);
                        color: white;
                    }
            }
    
        }
    }
    .container-pagination{
        display: grid;
        grid-template-columns: 320px;
        justify-content: center;
        align-items: center;
        .pagination{
            width: 320px !important;
        .page-link{
            background-color:rgb(226, 226, 226);
            color: rgb(116, 116, 116);
            font-weight: bold;
            &:hover{
                color: white;
                background-color:rgb(116,116,116);
            }
        }
        }
    }

}